USE [master]
GO
/****** Object:  Database [bluehunter]    Script Date: 28/11/2017 08:15:27 ******/
CREATE DATABASE [bluehunter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bluehunter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\bluehunter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bluehunter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\bluehunter_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bluehunter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bluehunter]
GO
USE [bluehunter]
GO
/****** Object:  Table [dbo].[books]    Script Date: 28/11/2017 08:15:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [int] NOT NULL,
	[title] [varchar](100) NULL,
	[author] [varchar](50) NULL,
	[yearPublished] [int] NULL,
	[price] [varchar](50) NULL,
	[rating] [varchar](50) NULL,
 CONSTRAINT [PK_books] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 28/11/2017 08:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NOT NULL,
	[fullName] [varchar](100) NULL,
	[gender] [varchar](50) NULL,
	[age] [int] NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[username] [varchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[books] ([id], [title], [author], [yearPublished], [price], [rating]) VALUES (0, N'Culpa 3 Enim Suscipit Voluptatem', N'@cNewman', 2015, N'$12.99', N'1.3/5')
INSERT [dbo].[books] ([id], [title], [author], [yearPublished], [price], [rating]) VALUES (1, N'Quasi Excepturi Mollitia', N'@jNguyen', 2006, N'$15.99', N'4.5/5')
INSERT [dbo].[books] ([id], [title], [author], [yearPublished], [price], [rating]) VALUES (2, N'Magnam Obcaecati Ab Asperiores A', N'@fMcGee', 2007, N'$20.99', N'4.1/5')
INSERT [dbo].[users] ([id], [fullName], [gender], [age], [email], [phone], [username]) VALUES (0, N'Nina Ellis', N'female', 61, N'nEllis@example.com', N'(443) 545-8479', N'nEllis')
INSERT [dbo].[users] ([id], [fullName], [gender], [age], [email], [phone], [username]) VALUES (2, N'Nathan Cobb', N'male', 39, N'nCobb@example.com', N'(368) 849-8721', N'nCobb')
INSERT [dbo].[users] ([id], [fullName], [gender], [age], [email], [phone], [username]) VALUES (3, N'Nell Payne', N'female', 49, N'nPayne@example.com', N'(754) 297-3282', N'nPayne')
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_author]    Script Date: 28/11/2017 08:15:32 ******/
CREATE NONCLUSTERED INDEX [IX_author] ON [dbo].[books]
(
	[author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_title]    Script Date: 28/11/2017 08:15:32 ******/
CREATE NONCLUSTERED INDEX [IX_title] ON [dbo].[books]
(
	[title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_name]    Script Date: 28/11/2017 08:15:32 ******/
CREATE NONCLUSTERED INDEX [IX_name] ON [dbo].[users]
(
	[fullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
